@model VLinks.vacancy
@{
    /**/
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="border-bottom:3px solid black">
        <div class="col-md-12" style="margin-top:30px"><h2>Job Details</h2></div>
    </div>
    <div class="row text-left" style="margin-top:40px">
        <div class="col-md-6">
            <table style="width:100%;font-size:18px;">
                <tr>
                    <td style="width:50%;padding:10px">@Html.Label("Job Title")</td>
                    <td style="width:50%;padding:10px">@Html.DisplayFor(model => model.j_title)</td>
                </tr>
                <tr>
                    <td style="width:50%;padding:10px">@Html.Label("Job Location")</td>
                    <td style="width:50%;padding:10px">@Html.DisplayFor(model => model.location)</td>
                </tr>
                <tr>
                    <td style="width:50%;padding:10px">@Html.Label("Payment")</td>
                    <td style="width:50%;padding:10px">@Html.DisplayFor(model => model.salary)</td>
                </tr>
                <tr>
                    <td style="width:50%;padding:10px">@Html.Label("Working Day")</td>
                    <td style="width:50%;padding:10px">@Html.DisplayFor(model => model.workingday)</td>
                </tr>
                <tr>
                    <td style="width:50%;padding:10px">@Html.Label("Working Time")</td>
                    <td style="width:50%;padding:10px">@Html.DisplayFor(model => model.workingtime)</td>
                </tr>
                <tr>
                    <td style="width:50%;padding:10px">@Html.Label("Expired Date")</td>
                    <td style="width:50%;padding:10px">@Html.DisplayFor(model => model.vexpireddate)</td>
                </tr>
                <tr>
                    <td style="width:50%;padding:10px">@Html.Label("Description")</td>
                    <td style="width:50%;padding:10px">@Html.DisplayFor(model => model.vdescription)</td>
                </tr>
                <tr>
                    <td class="text-left" style="width:50%;padding:10px">
                        <input style="font-size:16px" class="btn btn-primary" type="button" value="Back" onclick="location.href='@Url.Action("Vacancies", "Home")'" />
                        <br />
                    </td>
                    <td class="text-right" style="width:50%;padding:10px">
                        <input style="font-size:16px" class="btn btn-primary" type="button" value="Apply" onclick="location.href='@Url.Action("Vacancies", "Home")'" />
                        <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 text-center">            
        </div>
    </div>
</div>

