@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- Recently Added Jobs -->
<div style="width:100%;background-color:#ccc">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="padding: 10px 0 10px 15px; font-size: 28px;">Recently Added Jobs</h1>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="padding:15px">
                <div class="effect1 text-center" style="background-color:white;padding:20px;border-radius:5px;width:100%">
                    <img src="~/img/indexjob6.jpg" style="width:100%" />
                    <div style="text-align:left">
                        <h4>Tutor</h4>
                        <p>
                            <i class="fas fa-location-arrow"></i>&nbsp;&nbsp; Sanchaung<br />
                            &nbsp;<i class="fas fa-dollar-sign"></i>&emsp;6.00 per hour<br />
                            <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp; Mon-Fri<br />
                            <i class="fas fa-clock"></i>&nbsp;&nbsp; 8:00am-1:00pm <br />
                            &nbsp;<i class="fas fa-info"></i>&nbsp;&nbsp;&nbsp;&nbsp; cccca
                        </p>
                        @Html.ActionLink("Details", "Details", new { id="100134"}, new { @class = "btn btn-primary" })
                        <input style="font-size:16px" class="btn btn-primary" type="button" value="Apply" onclick="login_app()" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding:15px">
                <div class="effect1 text-center" style="background-color:white;padding:20px;border-radius:5px;width:100%">
                    <img src="~/img/indexjob5.jpg" style="width:100%" />
                    <div style="text-align:left">
                        <h4>Nursing Assistant</h4>
                        <p>
                            <i class="fas fa-location-arrow"></i>&nbsp;&nbsp; Sanchaung <br />
                            &nbsp;<i class="fas fa-dollar-sign"></i>&emsp;5.00 per hour<br />
                            <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp; Mon-Fri<br />
                            <i class="fas fa-clock"></i>&nbsp;&nbsp; 8:00am-1:00pm <br />
                            &nbsp;<i class="fas fa-info"></i>&nbsp;&nbsp;&nbsp;&nbsp; cccca
                        </p>
                        @Html.ActionLink("Details", "Details", new { id = "100133" }, new { @class = "btn btn-primary" })
                        <input style="font-size:16px" class="btn btn-primary" type="button" value="Apply" onclick="login_app()" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding:15px">
                <div class="effect1 text-center" style="background-color:white;padding:20px;border-radius:5px;width:100%">
                    <img src="~/img/indexjob7.jpg" style="width:100%" />
                    <div style="text-align:left">
                        <h4>Restaurant Server</h4>
                        <p>
                            <i class="fas fa-location-arrow"></i>&nbsp;&nbsp; Sanchaung <br />
                            &nbsp;<i class="fas fa-dollar-sign"></i>&emsp;4.00 per hour<br />
                            <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp; Mon-Fri<br />
                            <i class="fas fa-clock"></i>&nbsp;&nbsp; 8:00am-1:00pm <br />
                            &nbsp;<i class="fas fa-info"></i>&nbsp;&nbsp;&nbsp;&nbsp; ccca
                        </p>
                        @Html.ActionLink("Details", "Details", new { id = "100132" }, new { @class = "btn btn-primary" })
                        <input style="font-size:16px" class="btn btn-primary" type="button" value="Apply" onclick="login_app()" />
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding:15px">
                <div class="effect1 text-center" style="background-color:white;padding:20px;border-radius:5px;width:100%">
                    <img src="~/img/indexjob4.png" style="width:100%" />
                    <div style="text-align:left">
                        <h4>Fitness Trainer</h4>
                        <p>
                            <i class="fas fa-location-arrow"></i>&nbsp;&nbsp; Sanchaung <br />
                            &nbsp;<i class="fas fa-dollar-sign"></i>&emsp;3.00 per hour<br />
                            <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp; Mon-Fri<br />
                            <i class="fas fa-clock"></i>&nbsp;&nbsp; 8:00am-1:00pm <br />
                            &nbsp;<i class="fas fa-info"></i>&nbsp;&nbsp;&nbsp;&nbsp; ccca
                        </p>
                        @Html.ActionLink("Details", "Details", new { id = "100131" }, new { @class = "btn btn-primary" })
                        <input style="font-size:16px" class="btn btn-primary" type="button" value="Apply" onclick="login_app()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------- Feedback --------------- -->
<div style="width:100%;background-color:#ccc">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="firstLabel" style="font-size: 28px; color: black;">Users' Feedbacks</h1>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="panel effect1" style="padding:20px">
                    <div class="image">
                        <img src="~/img/feedback2.jpg" style="width:100%;">
                    </div>
                    <br>
                    <div class="data">
                        <h4>By Ms. Christine Burgener | Aug 25 2018</h4>
                        <br>
                        <p style="text-align: justify;">
                            Though we have been working with Vacancy Links. for only a few weeks, my colleagues and I are
                            impressed with their consultant professionalism, dedication and more importantly, to make extra
                            efforts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel effect1" style="padding:20px">
                    <div class="image">
                        <img src="~/img/feedback1.jpg" style="width:100%;">
                    </div>
                    <br>
                    <div class="data">
                        <h4>By Mr. Paul Genova | Sept 5 2018</h4>
                        <br>
                        <p style="text-align: justify;">
                            Their after sales service is also a great asset Their role does not stop at sourcing candidates,
                            they also assist greatly during the negotiation process to ensure the candidates and the company
                            reach an agreement fair to both parties.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel effect1" style="padding:20px">
                    <div class="image">
                        <img src="~/img/feedback3.jpg" style="width:100%;">
                    </div>
                    <br>
                    <div class="data">
                        <h4>By Mr. Zagros Mississauga | June 10 2018</h4>
                        <br>
                        <p style="text-align: justify;">
                            I have been in contact with Vacancy Links for the past 18 months and found them to be very
                            professional and proactive. The Consultant that assisted me went out of her way to source
                            Managers that fully suit my Company's needs. She took the time to deeply understand
                            my requirements.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>

</div>
<!-- How it works-->
<div class="container" style="width:100%;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="color:blue">How It Works</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p>
                <h3>Need a job quickly?</h3>
                <br />
                <ul>
                    <li>Sit Back, relax and search proper jobs via Vacancy Links!<br /><br /></li>
                    <li>Simply apply the vacancy and receive phone call from the employer.<br /><br /></li>
                    <li>Then adjust with them.</li>
                </ul>
            </p>
            <br />
            @Html.ActionLink("Find Jobs Now", "Vacancies", "vacancies", new { @class = "btn btn-primary" })
            <br /><br />
        </div>
        <div class="col-md-3 text-center" style="vertical-align:bottom;padding:0">
            <br /><br />
            <iframe style="width:100%;" src="http://www.youtube.com/embed/fxCEcPxUbYA" frameborder="1" allowfullscreen></iframe>
            <br /><br />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<!-- --------------- About V-Link --------------- -->
<div style="width:100%;background-color:#ccc;padding:60px" id="aboutus">
    <div class="container about effect1" style="background-color:white;border-radius:5px">
        <div class="row">
            <div class="col-md-8">
                <h1 style="padding: 10px 30px; font-size: 28px; color: blue;">About Vacancy Links</h1>
                <p style="padding: 10px 30px; text-align: justify;">
                    <span style="color: blue">Vacancy Links</span> is a premier executive recruitment search
                    website, located in <span style="color: blue">Yangon, Myanmar</span>. We focus on senior
                    to executive level recruitment, as well as experts in headhunting and background checking.
                    Our recruitment consultants have extensive recruitment, as well as industry experience in
                    a variety of sectors from leading institutions in Myanmar. Our value comes from the
                    ability to attract, select, and retain the most talented people in the market through our
                    industry leading technology and vast professional networks.<br />
                    Regional leaders look to us to advise them not only on recruitment matters in Myanmar,
                    but also work with them as partners to plan and execute their business visions. We act
                    as partners to ensure that our clients don't need to worry about their recruitment plans,
                    so that they can focus on what they do best.<br />
                </p>
            </div>
            <div class="col-md-4" style="padding:0;margin:0;text-align:center;vertical-align:central">
                <br />
                <img src="~/img/dd.jpg" style="width: 80%;">
                <br /><br />
            </div>
        </div>
    </div>
</div>


