@using PagedList;
@using PagedList.Mvc;
@model IPagedList<VLinks.vacancy>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="">
    <div class="row">
        <div class="col-md-12 text-center">
            <br /><br />
            <h2>There are better carriers out there. We will help you find it.</h2>
            <br /><br />
        </div>
    </div>
    @using (Html.BeginForm("Search", "vacancies", FormMethod.Post, new { page = 1 }))
    {
        <div class="row" style="font-size:18px">
            <div class="col-md-2">
            </div>
            <div class="col-md-3 text-center">
                <label style="font-size:20px">Job Title</label>&emsp;
                @Html.DropDownList("dropdown1", new List<SelectListItem>
                {
                new SelectListItem { Text = "--Select Job Title--",Value="--Select Job Title--"},
                new SelectListItem { Text = "Animal Caretaker", Value = "Animal Caretaker"},
                new SelectListItem { Text = "Babysitter", Value = "Babysitter"},
                new SelectListItem { Text = "Bartender", Value = "Bartender"},
                new SelectListItem { Text = "Cashier", Value = "Cashier"},
                new SelectListItem { Text = "Fitness Trainer", Value = "Fitness Trainer"},
                new SelectListItem { Text = "Restaurant Server", Value = "Restaurant"},
                new SelectListItem { Text = "Nursing Assistant", Value = "Nursing Assistant"}
                },null,new { })
                <br /><br /><br />
            </div>
            <div class="col-md-3 text-center">
                <label style="font-size:20px">Job Location</label>&emsp;
                @Html.DropDownList("dropdown2", new List<SelectListItem>
                {
               new SelectListItem { Text = "--Select Location--",Value="--Select Location--"},
                new SelectListItem { Text = "Ahlon", Value = "Ahlon"},
                new SelectListItem { Text = "Bahan", Value = "Bahan"},
                new SelectListItem { Text = "Lanmadaw", Value = "Lanmadaw"},
                new SelectListItem { Text = "Latha", Value = "Latha"},
                new SelectListItem { Text = "Sanchaung", Value = "Sanchaung"},
                },null,new { })
                <br /><br /><br />
            </div>
            <div class="col-md-2 text-center">
                <input type="submit" style="font-size:13px" class="btn btn-primary" value="Search" />
                <br /><br /><br />
            </div>
            <div class="col-md-2">
            </div>
        </div>
    }
    <div class="row" style="font-size:16px">
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="padding:10px">
                <div class="effect1" style="border:1px solid black;padding:30px;border-radius:5px;">
                    <table style="width:100%;line-height:30px">
                        <tr>
                            <td width="50%">@Html.Label("Job Title")</td>
                            <td width="50%">@Html.DisplayFor(modelItem => item.j_title)</td>
                        </tr>
                        <tr>
                            <td width="50%">@Html.Label("Job Location")</td>
                            <td width="50%">@Html.DisplayFor(modelItem => item.location)</td>
                        </tr>
                        <tr>
                            <td width="50%">@Html.Label("Payment")</td>
                            <td width="50%">@Html.DisplayFor(modelItem => item.salary)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.vid }, new { @class = "btn btn-primary" })
                                <input style="font-size:16px" class="btn btn-primary" type="button" value="Apply" onclick="login_app()" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="pagedList">
                @Html.PagedListPager(Model, page => Url.Action("Vacancies", new { page }),
            PagedListRenderOptions.PageNumbersOnly)
            </div>
        </div>
    </div>
</div>





